/*.container {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*}*/

.form {
  /*display: inherit;*/
  /*flex-direction: inherit;*/
  /*align-items: inherit;*/
  /*position: absolute;*/
  /*top: 25%;*/
  /*width: 25%;*/
}

.item {
  width: 100%;
}
