.card {
  width: 100%;
  height: 820px;
  padding: 25px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
}

.form {
  width: 30%;
}

.item {
  width: 100%;
}
