.ant-layout.layout {
  min-height: 100vh;
}

.ant-layout-header.header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
}

.ant-layout-header.header .brand {
  font-size: 28px;
  color: #ffffff;
}

.ant-layout-header.header section {
  display: flex;
  justify-content: space-around;
  width: 210px;
}

.ant-layout-header.header section a {
  color: #ffffff;
}

.ant-layout-content {
  background-color: #ffffff;
}

.ant-layout-footer.footer {
  display: flex;
  justify-content: center;
  background-color: #001529;
}

.ant-typography.info {
  color: #ffffff;
  font-size: 16px;
}
