.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.dayBlock {
  display: flex;
  justify-content: space-between;
  width: 72%;
  align-items: center;
  margin-bottom: 10px;
}

.pickers {
  display: flex;
  justify-content: space-between;
  width: 72%;
  align-items: center;
}
